.descriptionContainer ul {
  margin: 0;
  padding: 10px 0 0 0;
  list-style: none;
}

.descriptionContainer ul li {
  display: flex;
  gap: 10px;
  align-items: center;
  height: 22px;
  margin: 5px 0;
}

.descriptionContainer ul li :first-child {
  font-size: 0.9rem;
  color: #808080;
  flex-basis: 80px;
}

.descriptionContainer ul li a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  gap: 10px;
}

.descriptionContainer ul li a :last-child {
  flex: 1;
}

.description {
  font-size: 1.5rem;
  color: #808080;
}

.description p {
  margin: 0;
}

.codeBlock {
  margin: 0;
}

.codeBlock code {
  padding: 0 5px;
}
